version: '3.8'

services:
  mongo:
    image: mongo:6-jammy
    container_name: nochevieja_mongo
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    networks:
      - app_network

  backend:
    build: ./backend
    container_name: nochevieja_backend
    restart: unless-stopped
    env_file: .env
    depends_on:
      - mongo
    networks:
      - app_network
    volumes:
      - ./backend/uploads:/app/uploads

  frontend:
    build: ./frontend
    container_name: nochevieja_frontend
    restart: unless-stopped
    networks:
      - app_network

  nginx:
    image: nginx:alpine
    container_name: nochevieja_nginx
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
      - frontend
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  mongo_data:
